body {
  margin: 0; }

.image {
  background: url("images/landscape.jpg"); }

.container {
  display: grid;
  grid-template-columns: 1fr;
  color: #000000;
  font-size: 1.2em;
  background: white; }
  .container header {
    background: #325772;
    color: white; }
    .container header a {
      color: white;
      text-decoration: none; }
    .container header h1 {
      font-size: 1.7em; }
  .container nav {
    background: #325772; }
    .container nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .container nav a {
      color: white; }
    .container nav a:hover {
      text-decoration: none; }

/* media query for grid layout */
@media only screen and (min-width: 600px) {
  /* grid */
  .container {
    grid-template-columns: repeat(4, 1fr); }
  /* specific item styles */
  header, nav, footer {
    grid-column: span 4; }
  section {
    grid-column: span 3; }
  /* nav styles */
  nav ul li {
    display: inline-block;
    padding: 0 20px 0 0; }
  /* hide toggle */
  .toggle {
    display: none; } }

/* media query for nav styles */
@media only screen and (max-width: 599px) {
  #nav {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: -100%; }
    #nav span {
      color: white; }
  .slideRight {
    transform: translateX(100%); }
  .slideLeft {
    transform: translateX(-100%); }
  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -20px; }
  .open {
    text-align: left; } }
