body{
	margin: 0;
	font-family: "arial";
}

.image {
	width: 100%;
	max-height: 45em;
	z-index: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	color: #000000;
	font-size: 1.2em;
	background: white;
	
	header {
		background: #325772;
		color: white;
		a {
			color: white;
			text-decoration: none;
		}
		h1 {
			font-size: 1.7em;
		}
	}

	footer {
		font-size: 0.7em;
	}

	nav {
		background: #325772;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		a {
			color: white;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

#world {
	content: url('https://wowprogress.com/guild_img/8113/out/type.site/guild_rank.world');
	display: inline;
}

#europe {
	content: url('https://wowprogress.com/guild_img/8113/out/type.site/guild_rank.region');
	display: inline;
}

#realm {
	content: url('https://wowprogress.com/guild_img/8113/out/type.site/guild_rank.realm');
	display: inline;
}

/* media query for grid layout */
@media only screen and (min-width: 600px) {

	/* grid */
	.container {
		grid-template-columns: repeat(4, 1fr);
	}

	/* specific item styles */
	header, nav, footer {
		grid-column: span 4;
	}

	section {
		grid-column: span 3;
	}		

	.homepage {
		grid-column: span 4;
	}

	/* nav styles */
	nav {
		ul {
			li {
				display: inline-block;
				padding: 0 20px 0 0;
			}
		}
	}

	/* hide toggle */
	.toggle {
		display: none;
	}

}

/* media query for nav styles */
@media only screen and (max-width: 599px) {

	#nav {
		span {
			color: white;
		}
		transition: transform .3s ease-in-out;
		top: 0;
		bottom: 0;   
		position: fixed;
		width: 100%;
		left: -100%;
		z-index: 2;
	}

	.slideRight{
		transform: translateX(100%);
	}

	.slideLeft{
		transform: translateX(-100%);
	}

	.close {
		text-align: right;
		display: block;
		text-decoration: none;
		font-size: 3em;
		position: relative;
		top: -20px;
	}

	.open {
		text-align: left;
	}

}

#widget-wrapper {
	position: fixed;
	width: 25em;
	max-width: 90%;
	height: 5em;
	bottom: 1em;
	right: 1em;
	text-align: center;
	border-radius: 1em;
	box-shadow: 2px 3px rgba(0, 0, 0, 0.5);

	#widget-text {
		margin-top: 2em;
	}

	#widget-close {
		position: fixed;
		right: 0.7em;
		bottom: 2em;
		font-size: 2em;
		cursor: pointer;
	}
}

.widget-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.widget-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.widget-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.widget-error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}