<h2>Who are we</h2>
<h3>Our History</h3>
<p>
	We were founded in 2005. We are one of Silvermoon’s oldest raiding guilds, having raided every tier of content since Onyxia. 
	<br />
	Over the years we have organised nearly 2500 mandatory raids with some members still here from the very start. Our members age ranges from 18 to 57 Years old.
</p>

<h3>Our Goal</h3>
<p>
	Is to clear all current encounters while they are current and relevant, while preserving our reputation as being one of the most successful guilds on Silvermoon. We want to have fun doing that, so if you feel the same way then please head on over to Apply and we hope to see you in game.
</p>

<h3>Guild Requirements</h3>
<h4>What are we looking for from you?</h4>

<p>
	You must be aged 18 or above
</p>

<h4><i>Commitment</i></h4>
<p>
	We need folks to commit to 3 mandatory days a week – <b>Wednesday, Thursday and Sunday</b>
	<br />
	<b>Raid times</b> are between 19.15 - 23.00 server time
	<br />
	Raid invites go out at 19.15 and raid starts at 19.30
	<br />
	If you value personal gain over the success of the team
	<br />
	If you think of us as a place where you can learn your class
	<br />
	If you see us as a bus stop to the next guild, <b>then Winters Heart is not the guild for you.</b>
	<br />
	<b>If, however,</b> you think you are a team player who knows his class inside and out, who comes to raids prepared with the knowledge to suceed, then by all means continue reading.
	<br />
	We require exceptional people to be able to clear content while it is still current
	<br />
	We are not here to hold your hand, you must know the encounter before raid start
</p>

<h4><i>Communication</i></h4>
<p>
	Please, if you need a dictionary to understand this website, don’t apply.
	<br />
	You must be able to speak English, listening and comprehension as well.
	<br />
	You must be reachable. If we need to contact you, we will do so via in game mail, e-mail or whisper
</p>

<h4><i>Compliance</i></h4>
<p>
	We need you to maintain a certain level of focus during boss fights.
	<br />
	While this is a game we need mature cool heads.
	<br />
	We are an adults only guild, hence it is expected that you will behave like one during raids.
	<br />
	Knowing when to shut up and knowing when to take criticism will help take you far in life and also in guild
</p>
 

<h4><i>Out-of-game requirements:</i></h4>
<p>
	<ul>
		<li>You apply to us, not several guilds at the same time.</li>
		<li>A stable connection.</li>
		<li>Install Mumble, a VoIP Client for Gaming , having a working microphone is essential.</li>
		<li>Be active on our forums. Learn where to find things.</li>
		<li>Read up on in-depth game/class mechanics and share the knowledge</li>
	</ul>
</p>
<h4><i>In-game requirements:</i></h4>
<p>
	<ul>
		<li>You are a level 110 character</li>
		<li>Your character is fully gemmed and enchanted</li>
		<li>You have the gear to participate in current content</li>
		<li>You are willing to respec when needed</li>
	</ul>
</p>