<div id="gameCanvas"></div>
<br>
<button onmousedown="spa.game.accelerate(-0.2)" onmouseup="spa.game.accelerate(0.05)">ACCELERATE</button><button onclick="spa.game.reset()">RESET</button>
<p>Use the ACCELERATE button to stay in the air</p>
<p>How long can you stay alive?</p>
<p id="highscoreLabel">Highscore: 0</p>