<div class="container">
		
	<header role="banner">
		<h1><span class="toggle open" id="openMenu">&#10052;</span> Winter's Heart</h1>
	</header>
		<nav id="nav" role="navigation">
			<span class="toggle close" id="closeMenu">×</span>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/videos">Videos</a>
				</li>
				<li>
					<a href="/game">Game</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
			</ul>
		</nav>

	<section id="main-content" role="main">

	</section>

	<aside>
		<h3>Rankings</h3>
		<a href="https://wowprogress.com/"><div id="realm"></div></a>
		<a href=https://wowprogress.com/><div id="europe"></div></a>
		<a href=https://wowprogress.com/><div id="world"></div></a>
	</aside>

	<footer>
		&#169; Nicander Mohrmann
	</footer>
		
</div>